@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=M+PLUS+Code+Latin:wght@100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "M PLUS Code Latin", system-ui;
}

body{
    background: #273847;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuButton {
    background-color: black;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    margin: 28px 55px
}

.menuButton:hover{
    background-color: #FFA630;
    cursor: pointer;
}

.menuIcon {
    width: 100px;
    position: relative;
    bottom: 16px;
    right: 16px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    border: 1px solid #FFA630;
    border-radius: 30px;
    width: 700px;
    background-color: black;
    padding-left: 17.35px;
}

.searchButton {
    border: none;
    cursor: pointer;
    background-color: black;
    padding-right: 33.75px;
}

.searchIcon img {
    width: 30px;
}

.search {
    all: unset;
    background-color: black;
    border: none;
    font-size: 20px;
    width: 700px;
    color: #FFA630;
}

::placeholder {
    color: #FFA630;
}

.buttonHeader{
    display: flex;
    gap: 16px;
    padding-right: 55px;
}

.buttonHeader button{
    background-color: black;
    color: #FFA630;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
}

.buttonHeader button:hover{
    background-color: #FFA630;
    color: black;
    cursor: pointer;
}



