@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=M+PLUS+Code+Latin:wght@100..700&display=swap');

/* Regras globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "M PLUS Code Latin", system-ui;
}

body {
    background: #273847;
}

/* Flexbox básico */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1400px;
    margin: 40px auto 50px;
}

.grid-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1400px;
    margin: 0 auto;
}

/* Botões de Menu */
.menu-btn {
    background-color: black;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    margin: 28px 55px;
}

.menu-icon {
    width: 100px;
    position: relative;
    bottom: 16px;
    right: 16px;
}

/* Barra de busca */
.search-bar {
    grid-column: 4 / 9;
    margin: 0 auto;
    margin-top: 36px;
}

.bg-search {
    width: 650px;
    height: 50px;
    background-color: black;
    border: 1px solid #FFA630;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.search-icon {
    margin-right: 33px;
}

.search-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-left: 17.35px;
    cursor: pointer;
    color: #FFA630;
}

.search-input {
    all: unset;
    background-color: black;
    border: none;
    width: 500px;
    color: #FFA630;
    font-size: 20px;
}

.search-input::placeholder {
    color: #FFA630;
}

/* Configurações do usuário */
.user-configs {
    grid-column: 2 / 6;
    margin-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 332px;
    height: 314px;
}

.user {
    width: 167px;
    height: 167px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 20px solid #FFA630;
}

.fa-user {
    color: #FFA630;
}

.user-name {
    color: #FFA630;
    background-color: black;
    width: 332px;
    height: 45px;
    border-radius: 20px;
    margin-top: 40px;
}

.user-settings {
    display: flex;
    gap: 22px;
}

.user-setting,
.user-video {
    color: #8DB1AB;
    background-color: black;
    width: 155px;
    height: 40px;
    border-radius: 20px;
    margin-top: 40px;
    border: none;
}

.user-setting a,
.user-video a{
    color: #8DB1AB;
    text-decoration: none;
    font-size: 16px;
}

.user-setting:hover,
.user-video:hover{
    background-color: #FFA630;
    text-decoration: none;
    font-size: 16px;
}

/* Progressos do usuário */
.user-progress {
    width: 598px;
    height: 332px;
    grid-column: 7 / 12;
    flex-wrap: wrap;
}

.progress-title {
    background-color: black;
    color: #8DB1AB;
    font-size: 24px;
    border-radius: 20px;
    width: 332px;
    height: 46px;
}

.bg-progress {
    background-color: #8DB1AB;
    width: 597px;
    height: 270px;
    border-radius: 20px;
    margin: 16px;
    display: flex;
    padding: 20px;
    gap: 16px;
    flex-wrap: wrap;
}

.user-road {
    background-color: black;
    width: 250px;
    height: 105px;
    border-radius: 20px;
    font-size: 20px;
    color: #8DB1AB;
    text-align: center;
}

/* Navegação */
.nav-page {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    gap: 20px;
}

/* Cartões */
.card {
    background-color: #8DB1AB;
    width: 157px;
    height: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 80px;
    border: none;
}

.card a {
    text-decoration: none;
    background-color: transparent;
    color: black;
    font-size: 16px;
}

/* Separadores */
hr {
    margin-top: -2px;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    height: 0px;
    border: 1px solid #8DB1AB;
    padding: 0;
}

/* Grupos de mentores e rodas */
.mentor-group {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 1329px;
    height: 330px;
    gap: 49.39px;
    margin-top: 20px;
}

.mentor-row {
    gap: 23px 75px;
    flex-wrap: wrap;
}

.mentor-photo {
    width: 50px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 7px solid #8DB1AB;
}

.mentor-icon {
    color: #8DB1AB;
}

.mentor-name {
    background-color: black;
    border-radius: 20px;
    color: #8DB1AB;
    font-size: 16px;
    width: 200px;
    height: 45px;
}

.mentor {
    gap: 20px;
}

/* Rodas de progresso e seguidores */
.road-group {
    margin-top: 55px;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 1329px;
    height: 330px;
}

.roads-row {
    gap: 10px 46px;
    flex-wrap: wrap;
}

.road-follow {
    width: 413px;
    height: 105px;
    background-color: black;
    color: #8DB1AB;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

/* Rodapé */
footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

.links {
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    gap: 220px;
    padding-top: 30px;
}

.links a {
    color: #8DB1AB;
}

.autores {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 25px 0;
    font-size: 12px;
}

/* Formulários */
h2 {
    color: #8DB1AB;
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.full-input,
.half-input {
    background-color: #8DB1AB;
    border-radius: 10px;
    height: 84px;
    font-size: 18px;
    padding: 30px 20px 0px;
    border: none;
}

.full-input {
    width: 610px;
}

.half-input {
    width: 300px;
}

.bg-label {
    background-color: rgba(0, 0, 0, .55);
    width: 200px;
    height: 25px;
    border-radius: 2px;
    justify-content: flex-start;
    padding-left: 5px;
    position: relative;
    top: 40px;
    right: 190px;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 9px;
}

label {
    color: aliceblue;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-half-label {
    background-color: rgba(0, 0, 0, .55);
    width: 200px;
    height: 25px;
    border-radius: 2px;
    justify-content: flex-start;
    padding-left: 5px;
    position: relative;
    top: 40px;
    left: 18px;
}

.btn-form {
    margin: 20px 0;
    width: 180px;
    height: 35px;
    border-radius: 20px;
    background-color: #273847;
    color: #8DB1AB;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn-form:hover {
    background-color: #5D5791;
    border: .5px solid #8DB1AB;
    color: #8DB1AB;
}