@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=M+PLUS+Code+Latin:wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "M PLUS Code Latin", system-ui;
}

body {
    background: #273847;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1400px;
    margin: 0 auto;
}

.grid-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1400px;
    margin: 0 auto;
}

.menu-btn {
    grid-column: 1 / 3;
    background-color: black;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    margin: 28px 55px
}

.menu-icon {
    width: 100px;
    position: relative;
    bottom: 16px;
    right: 16px;
}

.search-bar {
    grid-column: 4 / 9;
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.bg-search {
    width: 650px;
    height: 50px;
    background-color: black;
    border: 1px solid #FFA630;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.search-icon img {
    width: 40px;
    margin-right: 33px;
}

.search-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-left: 17.35px;
    cursor: pointer;
}

.search-input {
    all: unset;
    background-color: black;
    border: none;
    width: 500px;
    color: #FFA630;
    font-size: 20px;
}

.button-header {
    grid-column: 10 /13;
    display: flex;
}

.search-input::placeholder {
    color: #FFA630;
}

.button-header {
    display: flex;
    gap: 16px;
    padding-right: 55px;
    margin-top: 37px;
}

.button-header button {
    background-color: black;
    color: #FFA630;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
}

.button-header button:hover {
    background-color: #FFA630;
    color: black;
    cursor: pointer;
}
/* -------------------- main -----------------------------*/

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-painel {
    grid-column: span 12;
    width: 1400px;
    height: 797px;
    border: 3px solid #13678A;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.575);
    color: #8DB1AB;
}

.playlist-painel {
    grid-column: 1 / 4;
    width: 290px;
    height: 604px;
    margin: auto;
    border-radius: 20px;
    background-color: #086788;
}

.head-playlist {
    width: 290px;
    height: 44px;
    color: #FFFFFF;
}

.head-playlist h3 {
    font-size: 16px;
    position: relative;
    top: 11px;
    left: 29px;
}
.playlist-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

 .button-playlist {

    width: 230px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    background-color: #00000088;
    color: white;
    cursor: pointer;
 }

 .button-playlist:hover {
    background-color: #8DB1AB;
}

.playlist-video {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    
}

.video-player {
    grid-column: 4 / 10;
    background-color: #13678A;
    width: 691px;
    height: 401px;
    border-radius: 20px;
    margin: auto;
}

.comment-painel {
    grid-column: 10 / 13;
    width: 290px;
    height: 640px;
    border-radius: 20px;
    background-color: #13678A;
}

.head-comment {
    width: 290px;
    height: 52px;
    border-radius: 20px 20px 0 0;
    font-size: 20px;
    background-color: #00000088 ;
    color: #ffffff;
}