<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/akar-icons-fonts"></script>
    <title>Nexus Studium</title>
  </head>

<body>
    <header>
        <nav>
            <ul class="nav flex">
                <li class="nav-btn flex"><img id="showMenu" src="../img/logomarca-png.png" alt="Logomarca NexusStudium"
                        width="100px">
                </li>
                <li class="search-bar">
                    <div>
                        <form class="bg-search">
                            <button title="btn" class="search-button" type="submit"><i class="search-icon"><img
                                        src="../img/searchIcon.svg" alt=""></i></button>
                            <input class="search-input" type="text" placeholder="O que você quer aprender?">
                        </form>
                    </div>
                </li>
                <li class="user-button">
                    <a href="../user/historic/index.html">
                        <div class="flex user-page">
                            <i class="fa-solid fa-user fa-2x"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

</body>

</html>